- name: tags | Set the version on a local file so it can be used by other automation # noqa E602
  ansible.builtin.copy:
    content: "{{ _teku_version }}"
    dest: "{{ teku_version_info_file }}"
    owner: "{{ teku_user }}"
    group: "{{ teku_group }}"
    mode: 0644
  become: true
  when: >
    teku_beacon_enabled or
    (teku_combined_enabled and
    (teku_ee_endpoint | default('') | length > 0))

- name: tags | Set the teku validator version on a local file so it can be used by other automation
  ansible.builtin.copy:
    content: "{{ _teku_version }}"
    dest: "{{ teku_validator_version_info_file }}"
    owner: "{{ teku_user }}"
    group: "{{ teku_group }}"
    mode: 0644
  become: true
  when: teku_validator_keys is defined and teku_validator_keys != []

