[Unit]
Description=Teku
After=syslog.target network.target

[Service]
User={{ teku_user }}
Group={{ teku_group }}
Environment=HOME=/home/{{ teku_user }}
Environment='TEKU_OPTS={{teku_env_opts|map('to_json')|join(' ')}}'
{% if teku_log4j_config_file %}
Environment=LOG4J_CONFIGURATION_FILE={{ teku_log4j_config_file }}
{% endif %}
Type=simple
{% if teku_cmdline_args %}
ExecStart=/bin/sh -c "{{ teku_current_dir }}/bin/teku -c {{ teku_config_file }} {{ teku_sub_command }} {{teku_cmdline_args|map('to_json')|join(' ')|regex_replace('"','')}} >> {{ teku_log_file }} 2>&1"
{% else %}
ExecStart=/bin/sh -c "{{ teku_current_dir }}/bin/teku -c {{ teku_config_file }} {{ teku_sub_command }} >> {{ teku_log_file }} 2>&1"
{% endif %}
SuccessExitStatus=143
Restart=on-failure
RestartSec=10s
WorkingDirectory={{ teku_current_dir }}

[Install]
WantedBy=multi-user.target
